html, body {
  height: 100%;
  font-family: "Lucida Console", "Lucida Sans Typewriter", "monaco", "Bitstream Vera Sans Mono", "monospace";
}

#app {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container: {
  height: 100%;
  position: flex;
  justify-content: center;
  align-items: center;
}

.terminal {
  position: flex;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  color: #2c3e50;
  font-size: 1.2em;
}

.inputBox {
  padding-left: 7px;
  width: 95%;
  border: none;
  outline: none;
  color: transparent;
  text-shadow: 0px 0px 0px #2c3e50;
}

.white-text {
  color: white;
}

@media (max-width: 767px) {

  .terminal {
    min-width: 300px;
    font-size: 0.9em;
  }
}

@media (max-width: 320px) {
  .terminal {
    font-size: 0.8em;
    min-width: 250px;
  }
}

.loader {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}